body{
    background-color:#e3eee0;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    gap: .5em;
    font-size: 3em;
}
header div:first-child{
    flex: 1;
    max-width: 85%;
}
header div:last-child{
    min-width: 200px;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1b191ade;
    gap:0.5em;
    border-radius: .5em;
}
header div svg{
    width: min-content;
    height: 100%;
}
#books-container{
    margin-top: 1.5em;
    width: 100%;
    flex: 1;
    display: grid;
    gap:1.5em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}
#books-container .book-card:nth-child(3n){
    background-color: #456945;
}
#books-container .book-card:nth-child(3n-5){
    background-color: #bcd4b1;
}
#books-container .book-card:nth-child(3n-4){
    background-color: #97bf81;
}
.book-card {
    height: 350px;
    border: 1px solid #00000054;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 9px 9px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10%;
    color:#000;
    position: relative;
}
.modal > button,
.book-card button.closed {
    justify-self: end;
    font-size: 1.5em;
    color: #0e0e0e;
    background-color: #f44336d9;
    border-radius: 15px;
    width: 25px;
    position: absolute;
    right: 0;
    top:0;
}
.book-card .book-info {
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
}
.book-card .book-info h1 {
    font-size: 2em;
    font-weight: 800;
}
.book-card .book-info p {
    color:#444;
    font-weight: 600;
}
.book-card p {
    font-weight: 700;
}
.modal form button,
.book-card button {
    font-weight: 900;
    width: 100px;
    padding: 5px;
    border-radius: 15px;
}
.modal form button,
.book-card .btn-read {
    background-color: rgb(144, 205, 53);
}
.book-card .btn-unread {
    background-color: #00000052;
}

.modal {
    position: fixed;
    inset:0;
    margin: auto;
    padding: 2rem 3rem;
    max-width: 80%;
    border-radius: .5em;

    animation: show-modal .5s .4s both;
}
.modal h1 {
    font-weight: 900;
    font-size: 1.5em;
}
.modal form label {
    margin: 25px 0px 5px 0;
    color:#Fff;
    font-weight: 600;
    width: 40%;
    text-align: center;
    border-radius: .5em;
    padding: .2em;
    background-color: #1b191ade;
}
.modal form input{
    width: 100%;
    border-radius: 0.3em;
    padding: 4px;
    background-color: hsl(0 0% 0% / 15%);
}
.modal form button {
    margin-top: 25px;
    width: 40%;
    border-radius: .5em;
}
.modal[open]::backdrop{
    animation: show-backdrop .4s forwards;
}
.modal::backdrop{
    background-color: hsl(0 0% 0% / 60%);
}

@keyframes show-modal {
    0%{
        transform: translateY(60%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes show-backdrop {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}